<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommonMapper">
    <select id="getRootMenuList" resultType="com.example.entities.PO.Menu">
        select menus.* from role_menu inner join menus on role_menu.menuId = menus.menuId where role_menu.roleId = #{roleId} and menus.pId = 0
    </select>
    <select id="getMenuListBypId" resultType="com.example.entities.PO.Menu">
        SELECT * FROM menus WHERE pId = #{pId}
    </select>

    <resultMap id="MenuVo" type="com.example.entities.VO.MenuVO">
        <id property="menuId" column="f_menuId"/>
        <result property="menuName" column="f_menuName"/>
        <result property="menuUrl" column="f_menuUrl"/>
        <result property="icon" column="f_icon"/>
        <collection property="childrenMenu" ofType="com.example.entities.VO.MenuVO">
            <id property="menuId" column="menuId"/>
            <result property="menuName" column="menuName"/>
            <result property="menuUrl" column="menuUrl"/>
            <result property="icon" column="icon"/>
        </collection>
    </resultMap>
    <select id="getMenuList" resultMap="MenuVo">
        SELECT
            f.menuId AS f_menuId,
            f.menuName AS f_menuName,
            f.menuUrl AS f_menuUrl,
            f.icon AS f_icon,
            c.menuId,
            c.menuName,
            c.menuUrl,
            c.icon
        FROM
            user_role
                INNER JOIN
            role_menu
            ON
                user_role.roleId = role_menu.roleId
                INNER JOIN
            menus AS f
            ON
                role_menu.menuId = f.menuId
                LEFT JOIN
            menus AS c
            ON
                f.menuId = c.pId
        WHERE
            f.pId = 0 AND
            user_role.userId = #{userId}
        ORDER BY
            c.menuId
    </select>
</mapper>