<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.StoreMapper">
    <insert id="insertDeviceDrug">
        insert into storemanage_drug_device (id, name, treatType, type, `usage`)
        VALUES (#{id}, #{name}, #{treatType}, #{type}, #{usage})
    </insert>
    <insert id="addRecord">
        insert into storemanage_record (id, createDate, smallClassId, exerciser)
        VALUES (#{id}, #{createDate}, #{smallClassId}, #{exerciser})
    </insert>
    <insert id="batchSaveRecordDetail" parameterType="java.util.List">
        insert into storemanage_record_detail (id, recordId, drugOrDeviceId, outletNumber) VALUES
        <foreach collection="details" item="item" index="index" separator=",">
            (#{item.id}, #{item.recordId}, #{item.drugOrDeviceId}, #{item.outletNumber})
        </foreach>
    </insert>
    <select id="countDeviceDrug" resultType="java.lang.Integer">
        select count(*) from storemanage_drug_device
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="treatType != null">
                and treatType = #{treatType}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
    </select>
    <select id="selectDeviceDrug" resultType="com.example.entities.PO.DeviceDrug">
        select id, name, treatType, type, `usage` from storemanage_drug_device
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="treatType != null">
                and treatType = #{treatType}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        <if test="page != null">
            limit #{page}, #{limit}
        </if>
    </select>
    <select id="selectOutList" resultType="com.example.entities.VO.RecordVO">
        SELECT
        storemanage_record.id,
        storemanage_record.createDate,
        storemanage_record.exerciser,
        disaster_class.`name` AS className
        FROM
        storemanage_record
        LEFT JOIN
        disaster_class
        ON
        storemanage_record.smallClassId = disaster_class.id
        <where>
            <if test="startDate != null">
                and storemanage_record.createDate &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and storemanage_record.createDate &lt;= #{endDate}
            </if>
            <if test="classId != null">
                and smallClassId = #{classId}
            </if>
        </where>
        order by storemanage_record.createDate desc
        <if test="page != null">
            limit #{page}, #{limit}
        </if>
    </select>
    <select id="countOut" resultType="java.lang.Integer">
        select count(*) from storemanage_record
        <where>
            <if test="startDate != null">
                and createDate &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                and createDate &lt;= #{endDate}
            </if>
            <if test="classId != null">
                and smallClassId = #{classId}
            </if>
        </where>
    </select>
    <select id="selectOutDetailByRecordId" resultType="com.example.entities.VO.RecordDetailVO">
        SELECT storemanage_drug_device.`name`,
               storemanage_drug_device.treatType,
               storemanage_drug_device.type,
               storemanage_record_detail.outletNumber
        FROM storemanage_record_detail
                 LEFT JOIN
             storemanage_drug_device
             ON
                 storemanage_record_detail.drugOrDeviceId = storemanage_drug_device.id
        where recordId = #{recordId}
    </select>
</mapper>