<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.UserMapper">
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into system_user values (default, #{userName}, #{userPwd}, #{realName}, default)
    </insert>
    <update id="updateUser">
        update system_user set userName = #{userName}, userPwd = #{userPwd}, realName = #{realName} where userId = #{userId}
    </update>
    <update id="delUserById">
        update  system_user set isDeleted = 1 where userId = #{userId}
    </update>
    <select id="queryByNameAndPwd" resultType="com.example.entities.VO.UserVO">
        SELECT
            system_user.userId,
            system_user.userName,
            system_user.userPwd,
            system_role.roleName AS `level`,
            system_user.realName
        FROM
            system_user
                INNER JOIN
            system_user_role
            ON
                system_user.userId = system_user_role.userId
                INNER JOIN
            system_role
            ON
                system_user_role.roleId = system_role.roleId
        WHERE
            system_user.userName = #{userName} AND
            system_user.userPwd = #{userPwd}
    </select>
    <select id="countUser" resultType="java.lang.Integer">
        select count(*) from system_user
    </select>

    <resultMap id="UserVOMap" type="com.example.entities.VO.UserVO">
        <id property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="userPwd" column="userPwd"/>
        <result property="level" column="roleName"/>
        <result property="realName" column="realName"/>
    </resultMap>

    <select id="queryAll" resultMap="UserVOMap">
        SELECT
            system_user.userId,
            system_user.userName,
            system_user.userPwd,
            system_role.roleName,
            system_user.realName
        FROM
            system_user
                INNER JOIN
            system_user_role
            ON
                system_user.userId = system_user_role.userId
                INNER JOIN
            system_role
            ON
                system_user_role.roleId = system_role.roleId
        WHERE
            system_user.isDeleted = 0
        limit #{index},#{size}
    </select>
    <select id="queryAllUser" resultType="com.example.entities.VO.UserVO">
        SELECT
            system_user.userId,
            system_user.userName,
            system_user.userPwd,
            system_role.roleName,
            system_user.realName
        FROM
            system_user
                INNER JOIN
            system_user_role
            ON
                system_user.userId = system_user_role.userId
                INNER JOIN
            system_role
            ON
                system_user_role.roleId = system_role.roleId
        WHERE
            system_user.isDeleted = 0
            <if test="roleId != null">
                and system_role.roleId = #{roleId}
            </if>
        <if test="page != null">
            limit #{page}, #{limit}
        </if>
    </select>
    <select id="countUserAll" resultType="java.lang.Integer">
        SELECT
       count(*)
        FROM
        system_user
        INNER JOIN
        system_user_role
        ON
        system_user.userId = system_user_role.userId
        LEFT JOIN
        system_role
        ON
        system_user_role.roleId = system_role.roleId
        WHERE
        system_user.isDeleted = 0
        <if test="roleId != null">
            and system_role.roleId = #{roleId}
        </if>
    </select>
</mapper>